<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Lecture Notes App</display-name>



    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:postgresql://localhost:5432/klz_wap</param-value>
    </context-param>

    <context-param>
        <param-name>dbUser</param-name>
        <param-value>postgres</param-value>
    </context-param>

    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>postgres</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unipd.dei.webapp.klzwap.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
